.typewrite:after {
	content: '|';
	opacity: 1;
}
.typewrite.typewrite-cursor-off:after {
	content: '';
	opacity: 1;
}
.typewrite.typewrite-cursor-blinking:after {
	animation: typewrite-blink .75s step-end infinite;
}
@keyframes typewrite-blink {
	from, to { opacity: 0; }
	50% { opacity: 1; }
}